.row
  %div
    .lead.col-md-7= comment.commenter
    .pull-right= link_to 'Destroy Comment', [comment.article, comment],:class => 'btn btn-xs btn-danger', method: :delete,data: { confirm: 'Are you sure?' }
  .col-md-9
    %p= comment.body.html_safe
%hr/
